<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  
    
    <connectionStrings>
      <!--
      IMPORTANTE, CAMBIE LOS DATOS DE USUARIO Y CLAVE SEGUN SUS DATOS
      Propiedades conectionString :
      Data Source     : host o nombre del servidor SQL
      Initial Catalog : Base de datos a conectar
      User ID         : Usuario de la base de datos
      Password        : Contraseña de acceso
      -->
        <add  name="SQLCARRITO" 
              connectionString="Data Source=WINDOWS7\PATRIXSQL;Initial Catalog=CARRITO;User ID=sa;Password=1234; Persist Security Info=True"
              providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
      <!-- evita que el login requiera JQUERY -->
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
